KiCad/espTemp/espTemp_panel-backups/
KiCad/espTemp-ams1117/espTemp-ams1117-backups/
KiCad/espTemp_Screen/espTemp_Screen-backups/
*round-tracks-config
*sym-lib-table
*.kicad_prl
KiCad/espTemp_R-78xx/espTemp_R-78xx-backups/
KiCad/espTemp/Gerber/
KiCad/espTemp/espTemp-backups/
espTemp-PIO/src/wifiConfig.h
KiCad/espTemp_Screen-amd1117/espTemp_Screen-backups/
KiCad/espTemp-screen-ams1117/espTemp-screen-ams1117-backups/
espTemp-PIO/src/secrets.h
*.kicad_sch.lck
